<a href="https://colab.research.google.com/github/HelenChin/CTCUC23Project-Euler/blob/main/Helen_Chin_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

* comment
* input and output
* data types - int, float, str, bool
* variables + assignment
* operators - math/arithmetic, logical (and, or, not), comparison (==, !=, >, )
* conditionals - if-else, nested
* loops - for, while
* functions

# programming style
* meaningful identifier names
* appropriate comments
* appropriate use of white space (indentation, blank lines)

In [ ]:
# comment for user to understand the code

# BMI calculator
# to layout the logic if it is a multi steps solutions 
# input 
name = input("Enter your name: ") # str
height = float(input("Enter your height (m): ")) # int
weight = int(input("Enter your weight (kg): ")) # float

# process 
BMI = weight / (height * height)

# output
print("your BMI is",BMI)

# condition
if BMI < 18.5:
  print("you are malnutrition")
elif 18.8 <= BMI < 22.9:
  print("you are in healthy range")
elif 23 <= BMI > 27.5:
      print("you are in moderate risk range")
else:
  print("you are in high risk range")

Enter your name: l
Enter your height (m): 1.2
Enter your weight (kg): 80
your BMI is 55.55555555555556
you are in moderate risk range

In [ ]:
print("yo")
a = 5

yo

In [ ]:
a = 3
b = 3
if a > b:
  print("a bigger")
elif a < b:
  print("a smaller")
else: # a == b
  print("equal")

equal

# loops (in general)
- for (fixed number of times)
- while (0 or more times)
- repeat until (not support in python) (at least once)

In [ ]:
for i in range(5): # rang(0,5,1)
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 11, 1):
  if i % 2 == 1: # odd 
    print(i)

1
3
5
7
9

In [ ]:
#
name = "tom"
for char in name:
  print(char)

t
o
m

In [ ]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

# Exercise 

Think of a first program involving input-process-output that you would use to introduce Python to your students.

In [68]:
# to calculate the age based on current year
current_year = int(input("Enter the current year (XXXX):"))
birth_year = int(input("Enter your birth year (XXXX):"))
age = current_year - birth_year
print("You are", age, "years old")

Enter the current year (XXXX):2022
Enter your birth year (XXXX):1990
You are 32 years old

In [ ]:
print(a)

5

In [ ]:
first_num = int(input("Enter a positive 1st whole numbers between 0 and 1000: "))
second_num = int(input("Enter a positive 2nd whole numbers between 0 and 1000: "))
if first_num > second_num:
  result = first_num - second_num
else:
  result = second_num - first_num
print("the difference is ", result)

Enter a positive 1st whole numbers between 0 and 1000: 17
Enter a positive 2nd whole numbers between 0 and 1000: 5
12

In [ ]:
number = int(input("Enter a number: "))
if number > 50:
  print("yes dream big")
else:
  print("on the small side")

Enter a number10
on the small side

In [ ]:
firstname = str(input("Enter first name:"))
if firstname == "Ellie":
  position = 1

secondname = str(input("Enter second name: "))
if secondname == "Ellie":
  position = 2

thirdname = str(input("Enter third name: "))
if thirdname == "Ellie":
  position = 3

fourthname = str(input("Enter fourth name: "))
if fourthname == "Ellie":
  position = 4

fifthname = str(input("Enter fifth name: "))
if fifthname == "Ellie":
  position = 5
print(position)

Enter first name:k
Enter second name: k
Enter third name: Ellie
Enter fourth name: j
Enter fifth name: j
3

List
- Python's name for arrays
- organised collection of data where items are stored in contiguous locations in memory
- operations: declare/initialise, insert, remove, update, traverse

In [74]:
# declare/initialise
bmis  = []
print(bmis)

bmis = [20.5, 23.7, 16.2]
print(bmis)

rojak = [123, 3.14, "tom", True]
print(rojak)

[]
[20.5, 23.7, 16.2]
[123, 3.14, 'tom', True]

In [72]:
for i in range(len(bmis)):
  print(bmis[i])

20.5
23.7
16.2

In [73]:
bmis[0]

20.5

In [75]:
print(bmis[2])
print(bmis[len(bmis)-1])
print(bmis[-1])

16.2
16.2
16.2

In [82]:
# slicing operation
print(bmis[1:len(bmis)]) # bmis[1:3]
print(bmis[1:])
print(bmis[1:2])
print(bmis[1:3])

[23.7, 16.2]
[23.7, 16.2]
[23.7]
[23.7, 16.2]

In [86]:
print(bmis[0:2])
print(bmis[:2])

[20.5, 23.7]
[20.5, 23.7]